# Database
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=relatorio_user
DB_PASSWORD=relatorio_pass
DB_DATABASE=relatorio_db

# Airflow
AIRFLOW_BASE_URL=http://airflow-webserver:8080
AIRFLOW_DAG_ID=report_generation_dag
AIRFLOW_API_USER=airflow
AIRFLOW_API_PASSWORD=airflow

# Server
NODE_ENV=development
PORT=3000

# JWT/Auth
SECRET_KEY=your_secret_key_here
